// Fonts
$font-light: 'ClearSans-Light';
$font-regular: 'ClearSans-Regular';
$font-bold: 'ClearSans-Bold';

// Application Colors
$off-white: #ECECEC;
$light-grey: #676E75;
$dark-grey: #343B44;
$darker-grey: #222A34;
$light-blue: #00B0F1;

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab|Saira+Extra+Condensed:700');

// Pie chart coloring scheme
/*
'#00B0F1', //dark blue
'#6DD2F7', //light blue
'#58C99E', //light green
'#11B275', //dark green
'#53959C', //slate
'#545F88', //lavender
'#6E4A99', //grape
'#D35E5E', //pink
'#E4C000', //yellow
'#F37E1C', //orange
'#ECECEC', //off-white
'#BC0C0C'  //red
*/


body {
  background-color: $darker-grey !important;
  font-family: 'Roboto Slab', serif;
}

.coc-app {
  min-height: 100%;
  margin: 0 auto;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#header-component {
  background-color: $dark-grey;
  border-top: solid 3px $light-blue;
  color: $off-white;
  min-height: 60px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .application-description {
    .header-text {
      color: white;
      text-align: center;
      padding-top: 4px;
      font-size: 18px;
      line-height: 1em;
      margin-bottom: 6px;
      margin-top: 14px;

    }

    .app-version {
     font-size: 10px;
    }

    a {
      cursor: pointer;
      text-decoration: none;
    }

    img {
      margin-right: 5px;
    }
  }
}



.content-component {
  background-color: $darker-grey;
  color: $off-white;
  left: 7%;
  width: 92%;
  position: absolute;
  top: 64px;
  padding: 2px 10px;
}


.table-component {
  width: 100%;
  .table-body {
    font-family: $font-regular;
    font-size: 15pt;
  }
}

.table-filter-archived {
  color: orange !important;
}

.table-filter-deleted {
  color: red !important;
}

.bulk-action-button {
  border: solid 1px $light-grey;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  padding: 3px;
  position: absolute;
  top: 18px;
  right: 225px;

  &:hover {
    color: $light-blue;
  }
}

.component {
  border: solid 1px $light-grey;
  border-radius: 5px;
  margin-bottom: 15px;
  max-width: calc(100% - 60px);
  min-width: 500px;
  padding: 20px;

  &.modal {
    text-align: center;
  }

  > button {
    border: solid 1px $light-grey;
    border-radius: 5px;
    background-color: $darker-grey;
    color: $off-white;
    margin-right: 15px;

    &:hover {
      color: $light-blue;
    }

    &:active, &:focus {
      outline: 0;
    }
  }
}

.search-component {
  margin-bottom: 20px;
  padding-top: 0 !important;
  width: 540px;
}

.loader {
  position: relative !important;
  left: 227px !important;
}

.page-message {
  .custom {
    background-color: aliceblue;
    color: darkblue;

    .close:hover {
      color: dimgrey;
    }
  }
}

.ticker-green {
  color: #44B74A;
}

.ticker-red {
  color: red;
}

.coin-list-container th {
  border-bottom: 0.2px solid grey !important;;
  border-left: none !important;
  border-right: none !important;
  background-color: #001317 !important;

}



.list-coin-action-board-container {
  height: 38px;
  border-radius: 4px;
  background-color: #2A3340;
  margin-bottom: 10px;
  margin-top: 2px;
  text-align: center;
  padding: 4px 6px;
}

.nav li {
  padding-top: 0 !important;
}
th {
  padding-top : 0 ;
}


.donate-container {
  width: 66%;
  margin-left: 33%;
}

/* Media Queries */
@media (max-width: 1200px) {

  .content-component {
    width: 96%;
    left: 2%;
  }

  .list-coin-action-board-container {
    height: 50px;
  }

  .donate-container {
    width: 100%;
    margin-left: 0;
  }

  .content-component {
    left: 0%;
    width: 98%;
  }
}

.coc-footer-component {
  padding: 1px 0px;
  background-color: rgba(0,176,241, 0.7);
  color: white;
}

.footer-link {
  color: whitesmoke;
}

.donation-box-container {
  background-color: #676E75;
  padding-bottom: 20px;
}

.donation-box-container-label {
  color: $off-white;
  padding-top: 10px;
  font-size: 20px;
}

.coc-mission-container {
  margin-left: 10%;
  width: 80%;
  background-color: $dark-grey;
  padding: 10px 16px;
  min-height: 400px;
  text-align: left;
}


.coc-mission-container span {

  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  color: $off-white;
  display: block;

}

.mission-text {
  border-bottom: 0.5px solid rgba(0,176,241, 0.7);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.mission-header {
  font-size: 20px;
  font-weight: 600;
  border-bottom: none;
}

.wallet-address-block {
  background-color: $darker-grey;
  font-size: 18px;
  color: $off-white;
}
.wallet-img-block {
  width: 140px;
  height: 120px;
  margin-left: 20px;
}

.mission-footer {
  position: absolute;
  bottom: 10px;
  border-top: 0.5px solid rgba(0,176,241, 0.7);
  border-bottom: 0.5px solid rgba(0,176,241, 0.7);
  width: 72%;
  margin-left: 2%;
  padding: 4px;
  text-align: center;
}

.donation-coin-label {
  font-size: 16px;
  padding-left: 30px;
}

.modal-open {
  overflow: inherit !important;
}